SECRET_KEY=--------CHANGE_ME--------------
DJANGO_DEBUG=True

# Clickhouse database
CLICKHOUSE_DATABASE_HOST=database-clickhouse
CLICKHOUSE_DATABASE_PORT=8123
CLICKHOUSE_DATABASE_NAME=iotdatabase
CLICKHOUSE_DATABASE_USERNAME=root
CLICKHOUSE_DATABASE_PASSWORD=root


# Mongodb
MONGODB_PASSWORD=example
MONGODB_USERNAME=root
MONGODB_HOST=mongo
MONGODB_NAME=mongotestdb
MONGODB_PORT=27017

# Redis
REDIS_HOST=redis
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=test1234!
DJANGO_SUPERUSER_EMAIL=admin@yourdomain.com

TELEGRAM_BOT_TOKEN=
